/**
 * Rate Component Style for uxcore
 * @author quanyun.mqy
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__ratePrefixCls: kuma-rate;
@__rateItemGap: 10px;
@__rateIconFontSize: 16px;

.@{__ratePrefixCls}-item {
  display: inline-block;
  cursor: pointer;
  color: @basic-600;
  padding-left: (@__rateItemGap / 2);
  padding-right: (@__rateItemGap / 2);
  .kuma-icon {
    display: inline-block;
    font-size: @__rateIconFontSize;
  }
  &.active {
    color: @brand-primary;
  }
}

.@{__ratePrefixCls}-always-tip-container {
  width: 130px;
  color: @gray-light;
  text-align: center;
}
